.Main {
	width: 200px;
	height: 200px;
	margin: 50px auto;
	width: 75%;
	height: auto;
	padding-bottom: 20px;
}


.loginContainer {
	background-color: #52A55C;
	width: 300px;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
}


.login_text {
	color: whitesmoke;
	margin-bottom: 20px;
	font-size: 25px;

}


.isi {
	width: 900px;
	margin: auto;
	background-color: #84C68C;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
}

body {
	background-color: #84C68C;
	margin: 0;
	padding: 0;
}

.isi_mainform {
	padding-left: 50px;
}

.Header {
	display: block;
}

h1 {
	margin-top: 20%;
	color: #004208;
	font-weight: bolder;
}

.textFieldCustom {
	padding: 0px 20px;
	margin: 5px;
}

#buttonLoginCustom {
	background-color: #004208;
	border-color: #ffffff00;
	color: white;
}

/*textarea {
	width: 179px;
} -->*/

@media only screen and (max-width: 600px) {
	.loginContainer {
		width: 300px;
		height: 100px;
	}
  }

.navbar{
	position: relative;
}