*{
	box-sizing: border-box;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #004208;
}

html, body{
	background-color: #84C68C;
	margin: 0;
	padding: 0;
}

.loginTitle{
	text-align: center;
	margin: 3em auto .5em auto;
	color: #004208;
	font-size: 4em;
}

.loginContainer{
	text-align: center;
	vertical-align: middle;
}

.loginBox{
	background-color: #52A55C;
	width: 400px;
	height: 200px;
	margin: 0 auto;
	padding-top: 1.7em;
	border-radius: 1em;
}

.textField{
	padding: 0px 0px 0px 5px;
}

.loginTF{
	margin-bottom: 1em;
	width: 350px;
	height: 40px;
	font-size: 1.2em;
}

.btn{
	background-color: #004208;
	border: none;
	border-radius: 2em;
	color: white;
}

.btnLogin{
	font-size: 1.5em;
	font-weight: bold;
	width: 110px;
	height: 40px;
}

.nav{
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
	background-color: #004208;
	height: 50px;
}

.nav ul{
	margin: 0 0 0 -15px;
}

.nav li{
	display: inline;
}

.nav a{
	display: inline-block;
	padding: .5em;
	color: white;
	text-decoration: none;
}

.nav a:hover{
	background-color: #84C68C;
}

.container{
	max-width: 1920px;
	margin: 0 auto;
	padding: 1em;
}

.pageTitle{
	text-align: center;
	font-size: 4em;
	font-weight: 900;
	border-bottom: 5px solid #004208;
}

.profPic{
	display: block;
	border-radius: 50%;
	size: 200px;
	margin: 15px auto 0 auto;
}

.profName{
	text-align: center;
	font-weight: bolder;
	font-size: 3em;
	border-bottom: 5px solid #004208;
}

.btnA{
	color: white;
	text-decoration: none;
}